@{
    ViewData["Title"] = "Начало";
}

<div class="text-center mt-5">
    <h1 class="display-4">Добре дошъл в TaskerMaster!</h1>
    <p class="lead">Твоят лесен и красив начин да управляваш задачите си.</p>

    <a class="btn btn-primary btn-lg mt-4" asp-controller="Tasks" asp-action="Index">
        <i class="bi bi-check2-circle"></i> Виж моите задачи
    </a>
</div>


<section class="features-dark text-center mt-5">
    <h2>🌙 Защо TaskerMaster в тъмна тема?</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-3 feature-card-dark m-2">
            <i class="bi bi-lightning-charge-fill fs-1"></i>
            <h5 class="mt-3">Бързина</h5>
            <p>Лек и изключително бърз интерфейс без излишни забавяния.</p>
        </div>
        <div class="col-md-3 feature-card-dark m-2">
            <i class="bi bi-eye-fill fs-1"></i>
            <h5 class="mt-3">Оптимизиран за очи</h5>
            <p>По-малко натоварване за очите по време на дълга работа вечер.</p>
        </div>
        <div class="col-md-3 feature-card-dark m-2">
            <i class="bi bi-graph-up fs-1"></i>
            <h5 class="mt-3">Прогрес и анализ</h5>
            <p>Следи напредъка си с автоматични статистики и диаграми.</p>
        </div>
    </div>
</section>
